@model CMPG323_Project2.Models.UploadImageModel



<div class="container body-content">
    <div class="row upload-container">
        <div class="upload-form drop-shadow">

            <form asp-action="UploadNewImage" method="post" enctype="multipart/form-data" id="upload-form">
                <table style="width: 100%" border="0" cellpadding="10" cellspacing="5">
                    <tr>
                        <td>Title</td>
                        <td>
                            <input asp-for="Title" />
                        </td>
                    </tr>

                    <tr>
                        <td>Tag</td>
                        <td>
                            <input asp-for="Tags" />
                        </td>
                    </tr>
                    <tr>
                        <td>Geolocation</td>
                        <td>
                            <input asp-for="Geolocation" />
                        </td>
                    </tr>
                    <tr>
                        <td>Capture date</td>
                        <td>
                            <input asp-for="CapturedDate" />
                        </td>
                    </tr>
                    <tr>
                        <td>Captured by</td>
                        <td>
                            <input asp-for="CapturedBy" />
                        </td>
                    </tr>
                    <tr>
                        <td>Upload Image</td>
                        <td>
                            <input asp-for="UploadImage" />
                            <input type="submit" class="btn btn-primary" />
                        </td>
                    </tr>

                </table>

            </form>


        </div>

    </div>

</div>